In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('data.csv')

In [5]:
df.head()

,gameid,winning_team,100_TOP_avg_game_time,100_TOP_positions_played,100_TOP_avg_kda,100_TOP_avg_kp,100_TOP_avg_vision,100_TOP_avg_cs,100_TOP_goldpm,100_TOP_dmgpm,...,200_UTILITY_wins,200_UTILITY_losses,200_UTILITY_veteran,200_UTILITY_inactive,200_UTILITY_freshblood,200_UTILITY_hotstreak,200_UTILITY_role_total_played,200_UTILITY_role_wr,200_UTILITY_champ_games_played,200_UTILITY_champ_winrate
0,NA1_4144890019,200,23.271667,TOP TOP TOP TOP TOP TOP TOP BOTTOM TOP TOP,2.344102,0.421483,19.9,7.399556,450.255676,660.584402,...,419.0,389.0,False,False,False,False,616.0,0.524351,25,0.360000
1,NA1_4142559007,200,23.271667,TOP TOP TOP TOP TOP TOP TOP BOTTOM TOP TOP,2.344102,0.421483,19.9,7.399556,450.255676,660.584402,...,592.0,507.0,False,False,False,False,941.0,0.547290,25,0.520000
2,NA1_4141413442,200,23.271667,TOP TOP TOP TOP TOP TOP TOP BOTTOM TOP TOP,2.344102,0.421483,19.9,7.399556,450.255676,660.584402,...,417.0,349.0,True,False,False,False,28.0,0.500000,6,0.833333
3,NA1_4111370048,200,24.110000,MIDDLE TOP TOP TOP TOP TOP TOP TOP TOP TOP,1.912560,0.368992,16.5,6.744090,424.682704,688.888428,...,376.0,322.0,True,False,False,False,30.0,0.566667,69,0.652174
4,NA1_4152493334,100,24.806667,TOP TOP TOP TOP MIDDLE TOP TOP TOP MIDDLE TOP,3.170368,0.357680,18.0,6.643375,404.560602,473.586402,...,533.0,453.0,True,False,False,False,979.0,0.539326,733,0.567531

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2088 entries, 0 to 2087
Columns: 232 entries, gameid to 200_UTILITY_champ_winrate
dtypes: float64(150), int64(11), object(71)
memory usage: 3.7+ MB
None

In [8]:
df.columns

Index(['gameid', 'winning_team', '100_TOP_avg_game_time',
       '100_TOP_positions_played', '100_TOP_avg_kda', '100_TOP_avg_kp',
       '100_TOP_avg_vision', '100_TOP_avg_cs', '100_TOP_goldpm',
       '100_TOP_dmgpm',
       ...
       '200_UTILITY_wins', '200_UTILITY_losses', '200_UTILITY_veteran',
       '200_UTILITY_inactive', '200_UTILITY_freshblood',
       '200_UTILITY_hotstreak', '200_UTILITY_role_total_played',
       '200_UTILITY_role_wr', '200_UTILITY_champ_games_played',
       '200_UTILITY_champ_winrate'],
      dtype='object', length=232)

In [24]:
df_without_null = df.dropna(axis=1)

print(len(df_without_null.columns))

112

In [28]:
numeric_cols = df.select_dtypes(include=[np.number]).columns

df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

print(len(df.dropna(axis=1).columns))

172

In [32]:
cat_cols = df.select_dtypes(include=['object']).columns

In [33]:
cat_cols

Index(['gameid', '100_TOP_positions_played', '100_TOP_tier', '100_TOP_rank',
       '100_TOP_veteran', '100_TOP_inactive', '100_TOP_freshblood',
       '100_TOP_hotstreak', '100_JUNGLE_positions_played', '100_JUNGLE_tier',
       '100_JUNGLE_rank', '100_JUNGLE_veteran', '100_JUNGLE_inactive',
       '100_JUNGLE_freshblood', '100_JUNGLE_hotstreak',
       '100_MIDDLE_positions_played', '100_MIDDLE_tier', '100_MIDDLE_rank',
       '100_MIDDLE_veteran', '100_MIDDLE_inactive', '100_MIDDLE_freshblood',
       '100_MIDDLE_hotstreak', '100_BOTTOM_positions_played',
       '100_BOTTOM_tier', '100_BOTTOM_rank', '100_BOTTOM_veteran',
       '100_BOTTOM_inactive', '100_BOTTOM_freshblood', '100_BOTTOM_hotstreak',
       '100_UTILITY_positions_played', '100_UTILITY_tier', '100_UTILITY_rank',
       '100_UTILITY_veteran', '100_UTILITY_inactive', '100_UTILITY_freshblood',
       '100_UTILITY_hotstreak', '200_TOP_positions_played', '200_TOP_tier',
       '200_TOP_rank', '200_TOP_veteran', '200_TOP_inactive',
       '200_TOP_freshblood', '200_TOP_hotstreak',
       '200_JUNGLE_positions_played', '200_JUNGLE_tier', '200_JUNGLE_rank',
       '200_JUNGLE_veteran', '200_JUNGLE_inactive', '200_JUNGLE_freshblood',
       '200_JUNGLE_hotstreak', '200_MIDDLE_positions_played',
       '200_MIDDLE_tier', '200_MIDDLE_rank', '200_MIDDLE_veteran',
       '200_MIDDLE_inactive', '200_MIDDLE_freshblood', '200_MIDDLE_hotstreak',
       '200_BOTTOM_positions_played', '200_BOTTOM_tier', '200_BOTTOM_rank',
       '200_BOTTOM_veteran', '200_BOTTOM_inactive', '200_BOTTOM_freshblood',
       '200_BOTTOM_hotstreak', '200_UTILITY_positions_played',
       '200_UTILITY_tier', '200_UTILITY_rank', '200_UTILITY_veteran',
       '200_UTILITY_inactive', '200_UTILITY_freshblood',
       '200_UTILITY_hotstreak'],
      dtype='object')

In [48]:
cat_cols = df.select_dtypes(include=['object']).columns

cat_cols_with_na = df[cat_cols].isna().any()

print(cat_cols_with_na[cat_cols_with_na == True].index)

Index(['100_TOP_tier', '100_TOP_rank', '100_TOP_veteran', '100_TOP_inactive',
       '100_TOP_freshblood', '100_TOP_hotstreak', '100_JUNGLE_tier',
       '100_JUNGLE_rank', '100_JUNGLE_veteran', '100_JUNGLE_inactive',
       '100_JUNGLE_freshblood', '100_JUNGLE_hotstreak', '100_MIDDLE_tier',
       '100_MIDDLE_rank', '100_MIDDLE_veteran', '100_MIDDLE_inactive',
       '100_MIDDLE_freshblood', '100_MIDDLE_hotstreak', '100_BOTTOM_tier',
       '100_BOTTOM_rank', '100_BOTTOM_veteran', '100_BOTTOM_inactive',
       '100_BOTTOM_freshblood', '100_BOTTOM_hotstreak', '100_UTILITY_tier',
       '100_UTILITY_rank', '100_UTILITY_veteran', '100_UTILITY_inactive',
       '100_UTILITY_freshblood', '100_UTILITY_hotstreak', '200_TOP_tier',
       '200_TOP_rank', '200_TOP_veteran', '200_TOP_inactive',
       '200_TOP_freshblood', '200_TOP_hotstreak', '200_JUNGLE_tier',
       '200_JUNGLE_rank', '200_JUNGLE_veteran', '200_JUNGLE_inactive',
       '200_JUNGLE_freshblood', '200_JUNGLE_hotstreak', '200_MIDDLE_tier',
       '200_MIDDLE_rank', '200_MIDDLE_veteran', '200_MIDDLE_inactive',
       '200_MIDDLE_freshblood', '200_MIDDLE_hotstreak', '200_BOTTOM_tier',
       '200_BOTTOM_rank', '200_BOTTOM_veteran', '200_BOTTOM_inactive',
       '200_BOTTOM_freshblood', '200_BOTTOM_hotstreak', '200_UTILITY_tier',
       '200_UTILITY_rank', '200_UTILITY_veteran', '200_UTILITY_inactive',
       '200_UTILITY_freshblood', '200_UTILITY_hotstreak'],
      dtype='object')

In [57]:
value_counts = df['100_TOP_tier'].value_counts()

print(value_counts)

MASTER         797
DIAMOND        793
GRANDMASTER    236
CHALLENGER      72
PLATINUM        69
GOLD             1
Name: 100_TOP_tier, dtype: int64

In [59]:
num_missing = df['100_TOP_tier'].isna().sum()

print(num_missing)

120

In [71]:
df[df['100_TOP_tier'].isna() == True]

,gameid,winning_team,100_TOP_avg_game_time,100_TOP_positions_played,100_TOP_avg_kda,100_TOP_avg_kp,100_TOP_avg_vision,100_TOP_avg_cs,100_TOP_goldpm,100_TOP_dmgpm,...,200_UTILITY_wins,200_UTILITY_losses,200_UTILITY_veteran,200_UTILITY_inactive,200_UTILITY_freshblood,200_UTILITY_hotstreak,200_UTILITY_role_total_played,200_UTILITY_role_wr,200_UTILITY_champ_games_played,200_UTILITY_champ_winrate
1488,NA1_4167847249,100,30.150000,TOP TOP TOP TOP TOP TOP BOTTOM TOP TOP MIDDLE,3.831667,0.442615,26.800000,5.940299,414.991708,738.958541,...,320.644275,299.887532,NaN,NaN,NaN,NaN,4.0,0.250000,1,0.000000
1490,NA1_4168004216,100,28.906667,TOP TOP TOP TOP TOP TOP TOP MIDDLE TOP TOP,2.578852,0.432110,18.700000,6.109317,443.845710,834.765913,...,320.644275,299.887532,NaN,NaN,NaN,NaN,3.0,0.000000,1,0.000000
1492,NA1_4167977010,100,27.601667,TOP TOP TOP TOP TOP TOP TOP TOP TOP TOP,4.027619,0.371022,16.500000,6.543083,436.734497,740.042268,...,7.000000,8.000000,False,False,True,False,13.0,0.538462,2,0.000000
1493,NA1_4168153935,100,23.425000,TOP MIDDLE MIDDLE TOP UTILITY UTILITY UTILITY ...,3.610476,0.445372,24.700000,4.162220,331.530416,423.551761,...,320.644275,299.887532,NaN,NaN,NaN,NaN,5.0,0.400000,1,0.000000
1495,NA1_4167732706,100,29.555000,TOP TOP TOP TOP TOP TOP BOTTOM TOP TOP MIDDLE,5.689286,0.517412,15.900000,7.717814,448.719337,674.850279,...,4.000000,9.000000,False,False,True,False,12.0,0.250000,6,0.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,NA1_4172732655,100,27.283333,TOP TOP TOP TOP TOP TOP TOP TOP TOP TOP,3.757381,0.357848,28.800000,7.839951,458.543677,758.602321,...,8.000000,10.000000,False,False,True,False,17.0,0.411765,17,0.411765
1845,NA1_4174490109,200,25.378333,TOP TOP TOP TOP TOP TOP BOTTOM BOTTOM TOP TOP,3.121429,0.444302,13.600000,6.064228,378.042950,532.068037,...,320.644275,299.887532,NaN,NaN,NaN,NaN,7.0,0.714286,3,0.666667
1866,NA1_4173332061,200,25.496667,TOP TOP TOP TOP TOP MIDDLE TOP TOP TOP TOP,1.087619,0.321149,20.100000,6.659694,396.957772,623.081449,...,30.000000,25.000000,False,False,True,False,20.0,0.700000,8,0.625000
2003,NA1_4178371104,200,26.666667,TOP MIDDLE UTILITY MIDDLE TOP MIDDLE MIDDLE TO...,2.132121,0.312016,21.000000,6.675000,400.927500,537.240000,...,10.000000,12.000000,False,False,False,False,22.0,0.454545,12,0.666667
2074,NA1_4178496966,200,27.409259,TOP TOP TOP TOP TOP TOP TOP TOP UTILITY,1.919444,0.322613,17.666667,5.363151,362.120127,458.235254,...,19.000000,11.000000,False,False,True,False,30.0,0.633333,14,0.714286

In [82]:
tier_cols = ['100_TOP_tier', '100_JUNGLE_tier', '100_MIDDLE_tier', '100_BOTTOM_tier', '100_UTILITY_tier',
             '200_TOP_tier', '200_JUNGLE_tier', '200_MIDDLE_tier', '200_BOTTOM_tier', '200_UTILITY_tier']
df[tier_cols] = df[tier_cols].apply(lambda x: x.str.slice(0, 3))

print(df['100_TOP_tier'].unique())

tier_df = df[tier_cols]
tier_df

['GRA' 'CHA' 'MAS' 'DIA' 'PLA' 'GOL' nan]

,100_TOP_tier,100_JUNGLE_tier,100_MIDDLE_tier,100_BOTTOM_tier,100_UTILITY_tier,200_TOP_tier,200_JUNGLE_tier,200_MIDDLE_tier,200_BOTTOM_tier,200_UTILITY_tier
0,GRA,CHA,CHA,CHA,MAS,CHA,GRA,CHA,GRA,GRA
1,GRA,GRA,CHA,GRA,GRA,CHA,MAS,GRA,GRA,GRA
2,GRA,GRA,CHA,GRA,GRA,GRA,GRA,GRA,GRA,CHA
3,CHA,CHA,GRA,CHA,CHA,GRA,CHA,PLA,GRA,CHA
4,GRA,CHA,GRA,GRA,GRA,CHA,GRA,MAS,GRA,CHA
...,...,...,...,...,...,...,...,...,...,...
2083,DIA,MAS,DIA,DIA,MAS,MAS,MAS,DIA,DIA,DIA
2084,MAS,MAS,MAS,GRA,MAS,GRA,MAS,GRA,GRA,MAS
2085,DIA,MAS,DIA,DIA,DIA,DIA,DIA,DIA,DIA,DIA
2086,DIA,DIA,DIA,DIA,DIA,GRA,DIA,DIA,DIA,DIA
2087,GRA,MAS,GRA,MAS,DIA,GRA,MAS,MAS,DIA,NaN

In [127]:
mode = tier_df.drop('100_TOP_tier', axis=1).mode().iloc[0].mode()
df['100_TOP_tier'].fillna(mode, inplace=True)

In [126]:
df['100_TOP_tier'].unique()

array(['GRA', 'CHA', 'MAS', 'DIA', 'PLA', 'GOL', nan], dtype=object)

In [123]:
df['100_TOP_tier'][tier_df['100_TOP_tier'].isna() == True]

1490    NaN
1492    NaN
1493    NaN
1495    NaN
1496    NaN
       ...
1824    NaN
1845    NaN
1866    NaN
2003    NaN
2074    NaN
Name: 100_TOP_tier, Length: 119, dtype: object

In [121]:
df['100_TOP_tier'].isna().sum()

119